body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .portofolio-navbar{
     background-color: #f29b96;
     border-radius: 0;
     margin: 0;
     margin-bottom: 20px;
 }
 .edu-box{
     box-shadow: 5px 5px 3px 5px lightgray,-5px -5px 3px 5px lightgray;
     margin: 20px;
     padding: 10px;
 }
 .portofolio-navbar .navbar-brand{
     color: white;
 }
 .portofolio-navbar .portofolio-content li a{
    color: white;
}
.row{
    margin-top: 30px;
}
.row-3{
    margin: 10px;
}
.row div p {
    display: inline;
}
.row-1{
    margin-top:3px;
}
.row-2 div p {
    display: inline;
}
.row-bottom{
    margin-bottom:10px;
}
.marg-i{
    width:10px;
    margin-left:14px;
    margin-right:8px;
}
.img-size{
    width: 300px;
    height: 300px;
    border-radius:30PX;
}
.p-rating{
    display: inline;
    margin: 4px;
}
.contact-link{
    text-decoration: none;
    color: black;
}
.contact-link:hover{
    text-decoration: none;
    color: black;
}
.contact-form{
    background-color: #d8d7d6;
    border-radius: 10px 0px ;
    padding: 10px;
    margin-top:10px;
}
.fit-content{
    display: inline-block ;
}